torch>=2.2.1
torchvision>=0.17.1
numpy>=1.26.4

paddlepaddle-gpu>=2.6.2
paddleocr>=2.7.3

opencv-python>=4.8.0.76
opencv-contrib-python>=4.8.0.76
Pillow>=10.2.0

git+https://github.com/pbcquoc/vietocr.git
pdf2docx>=0.5.8
PyMuPDF>=1.23.8
python-docx>=1.1.0
matplotlib>=3.8.0
transformers>=4.37.0
lmdb>=1.4.1